[submodule "Operationalize-a-Machine-Learning-Microservice-API"]
	path = Operationalize-a-Machine-Learning-Microservice-API
	url = https://github.com/FairozaAmira/Operationalize-a-Machine-Learning-Microservice-API.git
